<div class="mine_list">
    <div id="tab">
        <div class="reply" ng-click="tab(0)" ng-class="{'active':show === 0}">最近回复</div>
        <div class="publish" ng-click="tab(1)" ng-class="{'active':show === 1}">最新发布</div>
        <div class="star" ng-click="tab(2)" ng-class="{'active':show === 2}">话题收藏</div>
    </div>
    <!-- 内容部分 -->
    <div class="content" ng-show="show===0">
        <div class="feed-li" ng-repeat="n in replay">
            <a ng-click="info(n.id)">
                <div class="feed-content">
                    <div class="avatar">
                        <img ng-src="{{n.author.avatar_url}}" alt="headImgUrl">
                    </div>
                    <div class="feed-right">
                        <div class="feed-top">
                            <p>{{n.title}}</p>
                        </div>
                        <div class="feed-bottom">
                            <span>{{n.author.loginname}}</span>
                            <div class="feed-pass">
                                {{n.last_reply_at|timeGo}}
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="content" ng-show="show===1">
        <div class="feed-li" ng-repeat="n in publish">
            <a ng-click="info(n.id)">
                <div class="feed-content">
                    <div class="avatar">
                        <img ng-src="{{n.author.avatar_url}}" alt="headImgUrl">
                    </div>
                    <div class="feed-right">
                        <div class="feed-top">
                            <p>{{n.title}}</p>
                        </div>
                        <div class="feed-bottom">
                            <span>{{n.author.loginname}}</span>
                            <div class="feed-pass">
                                {{n.last_reply_at|timeGo}}
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="content" ng-show="show===2">
        <div class="feed-li" ng-repeat="n in data">
            <a ng-click="info(n.id)">
                <div class="feed-content">
                    <div class="avatar">
                        <img ng-src="{{n.author.avatar_url}}">
                    </div>
                    <div class="feed-right">
                        <div class="feed-top">
                            <p>{{n.title}}</p>
                        </div>
                        <div class="feed-bottom">
                            <span>{{n.author.loginname}}</span>
                            <div class="feed-pass">
                                {{n.create_at|timeGo}}
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <!-- 注销按钮 -->
    <div class="ext-btn-reply btn-logout" ng-click="logout()">
        注销
    </div>
</div>
<style>
/*----tab标签切换*/

.mine_list {
    min-height: 386px;
}

#tab {
    position: absolute;
    width: 100%;
    line-height: 40px;
    margin-top: 10px;
}

#tab div {
    display: inline-block;
    width: 32%;
    text-align: center;
}

.content {
    min-height: 360px;
    margin-top: 50px;
    width: 100%;
    position: absolute;
    padding-bottom: 15%;
}

.active {
    color: #04be02;
    border-bottom: 1px solid #04be02;
}


/*内容样式*/

.feed-li {
    list-style: none;
    padding: 14px;
    position: relative;
}

.feed-li a {
    display: block;
}

.avatar {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    overflow: hidden;
    display: inline-block;
    margin-bottom: 20px;
}

.avatar img {
    width: 100%;
    height: 100%;
}

.feed-right {
    display: inline-block;
    width: 300px;
    color: #000;
    margin-left: 5px;
}

.feed-bottom {
    position: relative;
    color: #999;
}

.feed-bottom span {
    display: inline-block;
}

.feed-pass {
    display: inline-block;
}

.feed-pass {
    position: absolute;
    right: 0
}


/*注销按钮样式*/

.btn-logout {
    position: fixed;
    right: 16px;
    bottom: 68px;
    background: #80bd01;
    color: #fff;
    display: -webkit-box;
    display: flex;
    border-radius: 50%;
    width: 42px;
    height: 42px;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    box-shadow: 2px 6px 12px #c7c7c7;
    -webkit-transition: all .33s linear;
    transition: all .33s linear;
}
</style>
