<div class="article-box">
    <!-- 头部 -->
    <div class="head-box">
        <!-- 标题 -->
        <h2 class="head-title">{{detail.title}}</h2>
        <!-- 用户 -->
        <div class="head-intro">
            <!-- 用户头像 -->
            <div class="avatar"><img ng-src="{{detail.author.avatar_url}}"></div>
            <!-- 用户详细信息 -->
            <div class="head-middle">
                <div class="head-middle-top">
                    <div class="feed-label feed-label-top">
                        置顶
                    </div>
                    <span class="head-author-name">{{detail.author.loginname}}</span>
                </div>
                <div class="head-middle-bottom">
                    {{detail.create_at|timeGo}}
                    <span>{{detail.visit_count}}</span>次预览
                    <div class="eye"></div>
                </div>
            </div>
            <div class="head-right"><i class='love' ng-click="change()" ng-style="{'background-image':state?'url(img/icon/love2.jpg)':'url(img/icon/love.jpg)'}"></i></div>
        </div>
    </div>
    <!-- 中间 -->
    <div class="content-box markdown-body" ng-bind-html="html|htmled">
    </div>
    <!-- 添加评论 -->
    <div class="comment">
        <h6>添加评论</h6>
        <textarea name="comment" id="textarea" maxlength="20" onfocus="if(value=='说点什么吧'){value=''}" onblur="if (value ==''){value='说点什么吧'}" ng-model = "value" ng-keyup = len(value) > </textarea>
        <span class="len">  {{length}}<span>/20</span></span>
        <button ng-click = "comment()">发送</button>
    </div>
    <!-- 评论信息列表 -->
    <div class="reply">
        <h6>回复列表</h6>
        <ul>
            <li ng-repeat="n in reply">
                <p class="info">
                    <img ng-src="{{n.author.avatar_url}}" alt="">
                    <span class="msg">
                       <span class="login_name">{{n.author.loginname}}</span>
                    <span class="login_time">{{n.create_at|timeGo}}</span>
                    <i class="icon"></i>
                    </span>
                </p>
                <div class="content" ng-bind-html="n.content|htmled">2</div>
            </li>
        </ul>
    </div>
</div>
<style>
.article-box {
    width: 90%;
    height: 90%;
    padding: 5% 5%;
    margin-top: 10%;
}

h2 {
    font-size: 18px
}

.head-intro {
    display: flex;
    margin-top: 8px;
    -webkit-box-align: center;
    align-items: center;
}

.avatar {
    width: 36px;
    height: 36px;
    /*flex-shrink: 0;*/
    border-radius: 50%;
    overflow: hidden;
}

.avatar img {
    width: 100%;
    height: 100%;
}

.head-middle {
    -webkit-box-flex: 1;
    flex: 1;
    margin-left: 10px;
}

.head-middle-top {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.feed-label.feed-label-top {
    background-color: #80bd01;
    color: #fff;
}

.feed-label {
    font-size: 12px;
    border-radius: 4px;
    padding: 0 5px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    flex-shrink: 0;
    box-sizing: border-box;
}

.head-author-name {
    margin-left: 8px;
}

.head-middle-bottom {
    line-height: 20px;
    font-size: 13px;
    color: #666;
    margin-top: 2px;
}


/*  ------文章中部 ----*/

.content-box {
    padding: 10px 10px;
    background: #fff;
    box-shadow: 0 2px 2px #cecece;
}

.markdown-body {
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
    color: #333;
    font-size: 16px;
    line-height: 1.6;
    word-wrap: break-word;
    margin-top: 10px;
}

.markdown-text img {
    width: 100%;
    height: 100%;
}

.markdown-body h1 {
    padding-bottom: .3em;
    font-size: 2.25em;
    line-height: 1.2;
    border-bottom: 1px solid #eee;
}

.markdown-body ul {
    margin-left: 18px;
}

.markdown-body h2,
.markdown-body h3 {
    margin-top: 10px
}

.markdown-body p {
    margin-top: 5px;
    margin-bottom: 16px;
    font-size: 16px;
}


/*小图标*/

div.eye {
    display: inline-block;
    width: 17px;
    height: 23px;
    line-height: normal;
    vertical-align: middle;
    background-image: url('img/icon/eye.jpg');
    background-position: 0% 0%;
    background-repeat: repeat;
    margin-top: 0;
}

.love {
    display: inline-block;
    width: 19px;
    height: 23px;
    line-height: normal;
    vertical-align: middle;
    background-repeat: repeat;
    margin-right: 10px;
}


/*评论区域样式*/

.reply {
    margin-top: 10%;
}

.reply ul li {
    width: 100%;
    min-height: 90px;
    display: flex;
    flex-direction: column;
    border-top: 1px solid #999;
    padding-top: 3%;
    padding-bottom: 6%;
}

.reply ul li p.info {
    flex: 60%;
    display: flex;
    color: #999;
}

p.info img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    align-self: center;
}

p.info span.msg {
    flex: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

p.info span.login_name,
p.info span.login_time {
    flex: 1
}

p.info span.login_name {
    margin-left: 5%
}

p.info span.login_time {
    text-align: right;
}

.reply ul li div.content {
    flex: 1;
    margin-left: 1%;
    padding-top: 4%;
}


/*添加评论*/

div.comment {
    margin-top: 10%;
}

h6 {
    font-size: 16px;
    color: #999;
    border-bottom: 1px solid #999;
}

textarea {
    width: 100%;
    min-height: 50px;
    font-size: 16px;
    margin-top: 5%;
    outline-color: #999;
}
button{
    border:0;
    outline: 0;
    margin-left: 75%;
}
</style>
