<div>
    <div class="weui-panel weui-panel_access">
        <div class="weui-panel__hd">热门列表</div>
        <div class="weui-panel__bd">
            <a class="weui-media-box weui-media-box_appmsg list-box" ng-repeat="n in news|filter:match">
                <div class="weui-media-box__hd">
                    <img class="weui-media-box__thumb" ng-src="{{n.author.avatar_url}}" alt="">
                </div>
                <div class="weui-media-box__bd" ng-click="setId(n.id)" id="{{n.author_id}}">
                    <h4 class="weui-media-box__title">{{n.title}}</h4>
                    <p class="weui-media-box__desc">
                        <span class="auto">作者:{{n.author.loginname}}</span>
                        <time>{{n.create_at|date:"yyyy-MM-dd HH:mm"}}</time>
                    </p>
                    <p class="weui-media-box__desc">
                        <span>发布于 </span><span class="time">{{n.create_at|timeGo}}</span>
                        <span class="count"><i class="count"></i>
                            <span class="read">{{n.visit_count}}</span>
                        </span>
                        <span class="count2"><i class="count2"></i>
                            <span class="comment">{{n.reply_count}}</span>
                        </span>
                    </p>
                </div>
            </a>
        </div>
        <div class="weui-panel__ft">
            <a href="javascript:void(0);" class="weui-cell weui-cell_access weui-cell_link">
                <div class="weui-cell__bd" ng-click="langmore()" ng-show="!show">查看更多</div>
                <span class="weui-cell__ft"></span>
            </a>
        </div>
        <!-- 正在加载&&遮罩层 -->
        <div id="loadingToast" ng-show="show">
            <div class="weui-mask_transparent"></div>
            <div class="weui-toast">
                <i class="weui-loading weui-icon_toast"></i>
                <p class="weui-toast__content">数据加载中</p>
            </div>
        </div>
        <!-- 暂无数据 -->
        <div class="weui-loadmore weui-loadmore_line" ng-show="none">
            <span class="weui-loadmore__tips">暂无数据</span>
        </div>
    </div>
</div>
<style>
.weui-panel__ft {
    margin-bottom: 50px;
}

.weui-loadmore {
    margin-bottom: 80px;
}

a.list-box {
    position: relative;
}

time {
    position: absolute;
    right: 19px;
}

p.weui-media-box__desc {
    margin-top: 5px;
}
p.weui-media-box__desc{
    position: relative;
}
p.weui-media-box__desc span.count{
    position: absolute;
    right: 66px;
}
p.weui-media-box__desc span.count2{
    position: absolute;
    right:20px;
}
i.count{
    display: inline-block;
    width: 17px;
    height: 23px;
    background-image: url('img/icon/eye.jpg');
    vertical-align: middle;
}
i.count2{
    display: inline-block;
    width: 17px;
    height: 23px;
    background-image: url('img/icon/conment.jpg');
    vertical-align: middle;
}
</style>
